.alt_annot {color: #646464; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_char {color: #00CC00; font-weight: bold; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_kw {font-weight: bold; color: #7F0055; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id {color:black; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_cl-dec {color:black; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_field {color:#0000C0; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_stfield {color:#0000C0; font-style: italic; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_type.alt_const {color:black; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_const {color:#0000C0; font-style: italic; font-weight: bold; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_type {color:black; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_para {color:#8B6914; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_localvar {color:#1E90FF; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_me-name {font-weight:bold; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_stmeth-call {font-style: italic; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_id.alt_absmeth-call {color: #4D4D4D; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_pu {color:#7F7F7F; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_comm {color: #3F7F5F; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_gen-diam {color: #2E7233; text-decoration: underline; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_gen-ref {color: #2E7233; font-weight: bold; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_num {color: #FFA500; border-color:lightgray; border-style: solid; border-width: 1px;}
.alt_str {color: #00CC00; border-color:lightgray; border-style: solid; border-width: 1px;}
