body {background: white; font: 12px verdana, arial, sans-serif;}
.text {width:65em;}
.java {
    font-family:monospace;
    margin-left:33px;
    width:60em;
    line-height:1.2em;
    background-color: #FCFCE7;
    padding: 2px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
}
